body {
  background-image: url(./images/download1.jpg);
  background-size: cover;
}

#search {
  border-style: solid;
  background-color: aquamarine;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
}

#nutr-label,
#science-facts {
  border-style: solid;
  background-color: antiquewhite;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
}

#pwyf-title-bar {
  border-style: solid;
  background-color: pink;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  color: black;
  margin: 15px;
}
#product-description {
  border-style: solid;
  background-color: antiquewhite;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  color: black;
  margin: 15px;
}

#history-button {
  margin-right: 1000px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#search-terms {
  width: 80%;
}
