/* body {
  background-image: url(./images/download2.jpg);
  background-size: cover;
} */

#search {
  border-style: solid;
  background-color: aquamarine;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
}
